<style>
  *{
    margin-left: 10px;
  }
</style>

{{title}} 
<br>
{{2 + 4}}
<p [style.color]="color">
  {{descriere}}
</p>
<p style.color={{color2}}>
  {{descriere}}
</p>

<button (click) = " nr = nr + 1 " class="btn btn-primary">  creste valoarea cu 1</button> <br> <br>

<button (click) = " nr = nr - 1 " class="btn btn-primary">  scade valaorea cu 1</button> <br> <br>

<p [ngClass]="nr >= 7? 'green' : 'myClass'"> nr = {{nr}}</p>

<!-- <p [style.color]="myClass"> nr = {{nr}}</p> -->

<p>---------------------------------------------</p>

<form action="" method="post">

  <input [(ngModel)]="valoare" type="text" name="nume" id="nume" (input)="inputCount()"> <br>

  <p>! {{valoare}} !</p> <br>

</form> <br>

<p>---------------------------------------------</p>

<h3>nume:{{persoana.nume}} <br>
    prenume:{{persoana.prenume}} <br>
    id:{{persoana.id}}
</h3> <br>

<p>---------------------------------------------</p>

<button (click)="showImg()" class="btn btn-primary">delete img</button> <br> <br>
<button (click)="showImg2()" class="btn btn-primary">delete img</button> <br> <br>

<img [src]="imgSrc" alt="">   <br>  <!-- Recomandat -->

<img *ngIf="afiseaza" [src]="imgSrc" alt="">   <br>

<h2>Eroi</h2>
<p>Eroii preferati sunt </p>
<ul>
  <li *ngFor="let erou of eroi" >
    <span >{{erou.id}} - {{erou.name}}</span>
    
  </li>
  

  
</ul>

<router-outlet></router-outlet>
